name: release

on:
  push:
    tags:
      - v*

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Docker Login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push operator image
      run: make -f do.mk image-push-operator latest=true release=true

    - name: Build and push fluent-bit image
      run: make -f do.mk image-push-fluentbit latest=true release=true